body {
    background-color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 18.75rem;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar_navigation .logo img {
    width: 5rem;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.biblioteca {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
}

.biblioteca .botao_biblioteca {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.biblioteca .conteudo_biblioteca .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.conteudo_biblioteca {
    display: flex;
    justify-content: space-between;
}

.biblioteca .conteudo_biblioteca .fa-plus {
   margin: 24px 10px;
}